<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
    <%- include('./partials/_header') %>
  <body>
        <%- include('./partials/_nav') %>
        <% if (locals.messages.success) { %>
          <% messages.success.forEach( el => { %>
              <div class="alert alert-success"><%= el.msg %></div>
          <% }) %>    
      <%} %>
        <%- include('./content') %>
        <%- include('./partials/_footer') %>
  </body>
</html>
