<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Soft UI Dashboard by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/soft-ui-dashboard/pages/dashboard.html " target="_blank">
        <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Welcome : <%-user.displayName%> </span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  " href="/userDashboard/<%- user._id %>">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(0.000000, 148.000000)">
                        <path class="color-background opacity-6" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                        <path class="color-background" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                      </g>
                    </g>    
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Go back home</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-color:grey  ; background-position-y: 50%;">
      <div class="container-fluid py-4">
      <div class="row">
          <div class="col-12 mt-4">
           <div class="card mb-4 mt-5">
            <div class="card-body p-4">
                <div class="row form-div">
                    
                          <form action="" id="">
                              <!-- profile div starts here -->
                            <div class="profile-div"> 
                              <span>My Profile</span>
                              <div class="row mt-4">
                                <div class="form-group col-md-6">
                                    <label class="label" for="govt_id">Contact Name</label>
                                    <input type="text" id="clicktoTriger1" class="form-control" value="<%-user.displayName%>"  placeholder="" readonly/>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label class="label" for="govt_id">Business Name:</label>
                                    <input type="text" id="" class="form-control"  placeholder="e.g Properties Limited" readonly/>
                                  </div>
                                  <div id="logoDiv" >
                                    <span>Upload Logo</span>
                                    <div id="editImage" class="form-group col-md-3">
                                      <input type="file" title="" class="form-control" id="fileupload" name="selfiePicture" style="display: none;" accept="image/*" capture>
                                      <input type="text" title="" class="form-control" id="uploadtriggered" name="selfiePicture" style="cursor:pointer" readonly>
                                      <%  if(user.profilePic){%>
                                      <label id="logoLabel" for="">
                                          <img id="logourl"  class="img-fluid img-thumbnail" src="<%- user.profilePic %>" alt="">
                                          Change Logo
                                      </label>
                                      <% }else{%>
                                        <label for="">
                                            <!-- <img  class="img-fluid img-thumbnail" src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt=""> -->
                                            upload logo
                                        </label>
                                        <% } %> 
                                    </div>
                                  </div>
                                </div>
                            </div><!-- profile div ends here --> 
                              <!--password cbanging starts here -->
                              <div class="profile-div mt-4"> 
                                <span>Enter password only if you are changing it</span>
                                <div class="row mt-4">
                                  <div class="form-group col-md-6">
                                      <label class="label" for="govt_id">Password</label>
                                      <input type="password" name="password" id="password" class="form-control"  placeholder=""/>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label class="label" for="govt_id">Confirm Password:</label>
                                      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"  placeholder="" />
                                    </div>
                                  </div>
                              </div> <!-- password cbanging ends here --> 
                                   <!--contact section  starts here -->
                                   <div class="profile-div mt-4"> 
                                    <span>Contact</span>
                                    <div class="row mt-4">
                                        <div class="form-group col-md-4">
                                                <label class="label" for="countryCode">Country code</label>
                                                <select  style="width: 100%;height: 30px;" id="countryCode" name="countryCode"  id="countryCode">
                                                  <option value="" Selected>Country code</option>
                                                  <option data-countryCode="GB" value="44">UK (+44)</option>
                                                  <option data-countryCode="US" value="1">USA (+1)</option>
                                                    <option data-countryCode="DZ" value="DZ">Algeria (+213)</option>
                                                    <option data-countryCode="AD" value="AD">Andorra (+376)</option>
                                                    <option data-countryCode="AO" value="AO">Angola (+244)</option>
                                                    <option data-countryCode="AI" value="AI">Anguilla (+1264)</option>
                                                    <option data-countryCode="AG" value="AG">Antigua &amp; Barbuda (+1268)</option>
                                                    <option data-countryCode="AR" value="AR">Argentina (+54)</option>
                                                    <option data-countryCode="AM" value="AM">Armenia (+374)</option>
                                                    <option data-countryCode="AW" value="AW">Aruba (+297)</option>
                                                    <option data-countryCode="AU" value="AU">Australia (+61)</option>
                                                    <option data-countryCode="AT" value="AT">Austria (+43)</option>
                                                    <option data-countryCode="AZ" value="AZ">Azerbaijan (+994)</option>
                                                    <option data-countryCode="BS" value="BS">Bahamas (+1242)</option>
                                                    <option data-countryCode="BH" value="BH">Bahrain (+973)</option>
                                                    <option data-countryCode="BD" value="BD">Bangladesh (+880)</option>
                                                    <option data-countryCode="BB" value="BB">Barbados (+1246)</option>
                                                    <option data-countryCode="BY" value="BY">Belarus (+375)</option>
                                                    <option data-countryCode="BE" value="BE">Belgium (+32)</option>
                                                    <option data-countryCode="BZ" value="BZ">Belize (+501)</option>
                                                    <option data-countryCode="BJ" value="BJ">Benin (+229)</option>
                                                    <option data-countryCode="BM" value="BM">Bermuda (+1441)</option>
                                                    <option data-countryCode="BT" value="BT">Bhutan (+975)</option>
                                                    <option data-countryCode="BO" value="BO">Bolivia (+591)</option>
                                                    <option data-countryCode="BA" value="BA">Bosnia Herzegovina (+387)</option>
                                                    <option data-countryCode="BW" value="BW">Botswana (+267)</option>
                                                    <option data-countryCode="BR" value="BR">Brazil (+55)</option>
                                                    <option data-countryCode="BN" value="BN">Brunei (+673)</option>
                                                    <option data-countryCode="BG" value="BG">Bulgaria (+359)</option>
                                                    <option data-countryCode="BF" value="BF">Burkina Faso (+226)</option>
                                                    <option data-countryCode="BI" value="BI">Burundi (+257)</option>
                                                    <option data-countryCode="KH" value="KH">Cambodia (+855)</option>
                                                    <option data-countryCode="CM" value="CM">Cameroon (+237)</option>
                                                    <option data-countryCode="CA" value="CA">Canada (+1)</option>
                                                    <option data-countryCode="CV" value="CV">Cape Verde Islands (+238)</option>
                                                    <option data-countryCode="KY" value="KY">Cayman Islands (+1345)</option>
                                                    <option data-countryCode="CF" value="CF">Central African Republic (+236)</option>
                                                    <option data-countryCode="CL" value="CL">Chile (+56)</option>
                                                    <option data-countryCode="CN" value="CN">China (+86)</option>
                                                    <option data-countryCode="CO" value="CO">Colombia (+57)</option>
                                                    <option data-countryCode="KM" value="KM">Comoros (+269)</option>
                                                    <option data-countryCode="CG" value="CG">Congo (+242)</option>
                                                    <option data-countryCode="CK" value="CK">Cook Islands (+682)</option>
                                                    <option data-countryCode="CR" value="CR">Costa Rica (+506)</option>
                                                    <option data-countryCode="HR" value="HR">Croatia (+385)</option>
                                                    <option data-countryCode="CU" value="CU">Cuba (+53)</option>
                                                    <option data-countryCode="CY" value="CY">Cyprus North (+90392)</option>
                                                    <option data-countryCode="CY" value="CY">Cyprus South (+357)</option>
                                                    <option data-countryCode="CZ" value="CZ">Czech Republic (+42)</option>
                                                    <option data-countryCode="DK" value="DK">Denmark (+45)</option>
                                                    <option data-countryCode="DJ" value="DJ">Djibouti (+253)</option>
                                                    <option data-countryCode="DM" value="DM">Dominica (+1809)</option>
                                                    <option data-countryCode="DO" value="DO">Dominican Republic (+1809)</option>
                                                    <option data-countryCode="EC" value="EC">Ecuador (+593)</option>
                                                    <option data-countryCode="EG" value="EG">Egypt (+20)</option>
                                                    <option data-countryCode="SV" value="SV">El Salvador (+503)</option>
                                                    <option data-countryCode="GQ" value="GQ">Equatorial Guinea (+240)</option>
                                                    <option data-countryCode="ER" value="ER">Eritrea (+291)</option>
                                                    <option data-countryCode="EE" value="EE">Estonia (+372)</option>
                                                    <option data-countryCode="ET" value="ET">Ethiopia (+251)</option>
                                                    <option data-countryCode="FK" value="FK">Falkland Islands (+500)</option>
                                                    <option data-countryCode="FO" value="FO">Faroe Islands (+298)</option>
                                                    <option data-countryCode="FJ" value="FJ">Fiji (+679)</option>
                                                    <option data-countryCode="FI" value="FI">Finland (+358)</option>
                                                    <option data-countryCode="FR" value="FR">France (+33)</option>
                                                    <option data-countryCode="GF" value="GF">French Guiana (+594)</option>
                                                    <option data-countryCode="PF" value="PF">French Polynesia (+689)</option>
                                                    <option data-countryCode="GA" value="GA">Gabon (+241)</option>
                                                    <option data-countryCode="GM" value="GM">Gambia (+220)</option>
                                                    <option data-countryCode="GE" value="GE">Georgia (+7880)</option>
                                                    <option data-countryCode="DE" value="DE">Germany (+49)</option>
                                                    <option data-countryCode="GH" value="GH">Ghana (+233)</option>
                                                    <option data-countryCode="GI" value="GI">Gibraltar (+350)</option>
                                                    <option data-countryCode="GR" value="GR">Greece (+30)</option>
                                                    <option data-countryCode="GL" value="GL">Greenland (+299)</option>
                                                    <option data-countryCode="GD" value="GD">Grenada (+1473)</option>
                                                    <option data-countryCode="GP" value="GP">Guadeloupe (+590)</option>
                                                    <option data-countryCode="GU" value="GU">Guam (+671)</option>
                                                    <option data-countryCode="GT" value="GT">Guatemala (+502)</option>
                                                    <option data-countryCode="GN" value="GN">Guinea (+224)</option>
                                                    <option data-countryCode="GW" value="GW">Guinea - Bissau (+245)</option>
                                                    <option data-countryCode="GY" value="GY">Guyana (+592)</option>
                                                    <option data-countryCode="HT" value="HT">Haiti (+509)</option>
                                                    <option data-countryCode="HN" value="HN">Honduras (+504)</option>
                                                    <option data-countryCode="HK" value="HK">Hong Kong (+852)</option>
                                                    <option data-countryCode="HU" value="HU">Hungary (+36)</option>
                                                    <option data-countryCode="IS" value="IS">Iceland (+354)</option>
                                                    <option data-countryCode="IN" value="IN">India (+91)</option>
                                                    <option data-countryCode="ID" value="ID">Indonesia (+62)</option>
                                                    <option data-countryCode="IR" value="IR">Iran (+98)</option>
                                                    <option data-countryCode="IQ" value="IQ">Iraq (+964)</option>
                                                    <option data-countryCode="IE" value="IE">Ireland (+353)</option>
                                                    <option data-countryCode="IL" value="IL">Israel (+972)</option>
                                                    <option data-countryCode="IT" value="IT">Italy (+39)</option>
                                                    <option data-countryCode="JM" value="JM">Jamaica (+1876)</option>
                                                    <option data-countryCode="JP" value="JP">Japan (+81)</option>
                                                    <option data-countryCode="JO" value="JO">Jordan (+962)</option>
                                                    <option data-countryCode="KZ" value="KZ">Kazakhstan (+7)</option>
                                                    <option data-countryCode="KE" value="KE">Kenya (+254)</option>
                                                    <option data-countryCode="KI" value="KI">Kiribati (+686)</option>
                                                    <option data-countryCode="KP" value="KP">Korea North (+850)</option>
                                                    <option data-countryCode="KR" value="KR">Korea South (+82)</option>
                                                    <option data-countryCode="KW" value="KW">Kuwait (+965)</option>
                                                    <option data-countryCode="KG" value="KG">Kyrgyzstan (+996)</option>
                                                    <option data-countryCode="LA" value="LA">Laos (+856)</option>
                                                    <option data-countryCode="LV" value="LV">Latvia (+371)</option>
                                                    <option data-countryCode="LB" value="LB">Lebanon (+961)</option>
                                                    <option data-countryCode="LS" value="LS">Lesotho (+266)</option>
                                                    <option data-countryCode="LR" value="LR">Liberia (+231)</option>
                                                    <option data-countryCode="LY" value="LY">Libya (+218)</option>
                                                    <option data-countryCode="LI" value="LI">Liechtenstein (+417)</option>
                                                    <option data-countryCode="LT" value="LT">Lithuania (+370)</option>
                                                    <option data-countryCode="LU" value="LU">Luxembourg (+352)</option>
                                                    <option data-countryCode="MO" value="MO">Macao (+853)</option>
                                                    <option data-countryCode="MK" value="MK">Macedonia (+389)</option>
                                                    <option data-countryCode="MG" value="MG">Madagascar (+261)</option>
                                                    <option data-countryCode="MW" value="MW">Malawi (+265)</option>
                                                    <option data-countryCode="MY" value="MY">Malaysia (+60)</option>
                                                    <option data-countryCode="MV" value="MV">Maldives (+960)</option>
                                                    <option data-countryCode="ML" value="ML">Mali (+223)</option>
                                                    <option data-countryCode="MT" value="MT">Malta (+356)</option>
                                                    <option data-countryCode="MH" value="MH">Marshall Islands (+692)</option>
                                                    <option data-countryCode="MQ" value="MQ">Martinique (+596)</option>
                                                    <option data-countryCode="MR" value="MR">Mauritania (+222)</option>
                                                    <option data-countryCode="YT" value="YT">Mayotte (+269)</option>
                                                    <option data-countryCode="MX" value="MX">Mexico (+52)</option>
                                                    <option data-countryCode="FM" value="FM">Micronesia (+691)</option>
                                                    <option data-countryCode="MD" value="MD">Moldova (+373)</option>
                                                    <option data-countryCode="MC" value="MC">Monaco (+377)</option>
                                                    <option data-countryCode="MN" value="MN">Mongolia (+976)</option>
                                                    <option data-countryCode="MS" value="MS">Montserrat (+1664)</option>
                                                    <option data-countryCode="MA" value="MA">Morocco (+212)</option>
                                                    <option data-countryCode="MZ" value="MZ">Mozambique (+258)</option>
                                                    <option data-countryCode="MN" value="MN">Myanmar (+95)</option>
                                                    <option data-countryCode="NA" value="NA">Namibia (+264)</option>
                                                    <option data-countryCode="NR" value="NR">Nauru (+674)</option>
                                                    <option data-countryCode="NP" value="NP">Nepal (+977)</option>
                                                    <option data-countryCode="NL" value="NL">Netherlands (+31)</option>
                                                    <option data-countryCode="NC" value="NC">New Caledonia (+687)</option>
                                                    <option data-countryCode="NZ" value="NZ">New Zealand (+64)</option>
                                                    <option data-countryCode="NI" value="NI">Nicaragua (+505)</option>
                                                    <option data-countryCode="NE" value="NE">Niger (+227)</option>
                                                    <option data-countryCode="NG" value="NG">Nigeria (+234)</option>
                                                    <option data-countryCode="NU" value="NU">Niue (+683)</option>
                                                    <option data-countryCode="NF" value="NF">Norfolk Islands (+672)</option>
                                                    <option data-countryCode="NP" value="NP">Northern Marianas (+670)</option>
                                                    <option data-countryCode="NO" value="NO">Norway (+47)</option>
                                                    <option data-countryCode="OM" value="OM">Oman (+968)</option>
                                                    <option data-countryCode="PW" value="PW">Palau (+680)</option>
                                                    <option data-countryCode="PA" value="PA">Panama (+507)</option>
                                                    <option data-countryCode="PG" value="PG">Papua New Guinea (+675)</option>
                                                    <option data-countryCode="PY" value="PY">Paraguay (+595)</option>
                                                    <option data-countryCode="PE" value="PE">Peru (+51)</option>
                                                    <option data-countryCode="PH" value="PH">Philippines (+63)</option>
                                                    <option data-countryCode="PL" value="PL">Poland (+48)</option>
                                                    <option data-countryCode="PT" value="PT">Portugal (+351)</option>
                                                    <option data-countryCode="PR" value="PR">Puerto Rico (+1787)</option>
                                                    <option data-countryCode="QA" value="QA">Qatar (+974)</option>
                                                    <option data-countryCode="RE" value="RE">Reunion (+262)</option>
                                                    <option data-countryCode="RO" value="RO">Romania (+40)</option>
                                                    <option data-countryCode="RU" value="RU">Russia (+7)</option>
                                                    <option data-countryCode="RW" value="RW">Rwanda (+250)</option>
                                                    <option data-countryCode="SM" value="SM">San Marino (+378)</option>
                                                    <option data-countryCode="ST" value="ST">Sao Tome &amp; Principe (+239)</option>
                                                    <option data-countryCode="SA" value="SA">Saudi Arabia (+966)</option>
                                                    <option data-countryCode="SN" value="SN">Senegal (+221)</option>
                                                    <option data-countryCode="CS" value="CS">Serbia (+381)</option>
                                                    <option data-countryCode="SC" value="SC">Seychelles (+248)</option>
                                                    <option data-countryCode="SL" value="SL">Sierra Leone (+232)</option>
                                                    <option data-countryCode="SG" value="SG">Singapore (+65)</option>
                                                    <option data-countryCode="SK" value="SK">Slovak Republic (+421)</option>
                                                    <option data-countryCode="SI" value="SI">Slovenia (+386)</option>
                                                    <option data-countryCode="SB" value="SB">Solomon Islands (+677)</option>
                                                    <option data-countryCode="SO" value="SO">Somalia (+252)</option>
                                                    <option data-countryCode="ZA" value="ZA">South Africa (+27)</option>
                                                    <option data-countryCode="ES" value="ES">Spain (+34)</option>
                                                    <option data-countryCode="LK" value="LK">Sri Lanka (+94)</option>
                                                    <option data-countryCode="SH" value="SH">St. Helena (+290)</option>
                                                    <option data-countryCode="KN" value="KN">St. Kitts (+1869)</option>
                                                    <option data-countryCode="SC" value="SC">St. Lucia (+1758)</option>
                                                    <option data-countryCode="SD" value="SD">Sudan (+249)</option>
                                                    <option data-countryCode="SR" value="SR">Suriname (+597)</option>
                                                    <option data-countryCode="SZ" value="SZ">Swaziland (+268)</option>
                                                    <option data-countryCode="SE" value="SE">Sweden (+46)</option>
                                                    <option data-countryCode="CH" value="CH">Switzerland (+41)</option>
                                                    <option data-countryCode="SI" value="SI">Syria (+963)</option>
                                                    <option data-countryCode="TW" value="TW">Taiwan (+886)</option>
                                                    <option data-countryCode="TJ" value="TJ">Tajikstan (+7)</option>
                                                    <option data-countryCode="TH" value="TH">Thailand (+66)</option>
                                                    <option data-countryCode="TG" value="TG">Togo (+228)</option>
                                                    <option data-countryCode="TO" value="TO">Tonga (+676)</option>
                                                    <option data-countryCode="TT" value="TT">Trinidad &amp; Tobago (+1868)</option>
                                                    <option data-countryCode="TN" value="TN">Tunisia (+216)</option>
                                                    <option data-countryCode="TR" value="TR">Turkey (+90)</option>
                                                    <option data-countryCode="TM" value="TM">Turkmenistan (+7)(+993)</option>
                                                    <!-- <option data-countryCode="TM" value="TM">Turkmenistan (+993)</option> -->
                                                    <option data-countryCode="TC" value="TC">Turks &amp; Caicos Islands (+1649)</option>
                                                    <option data-countryCode="TV" value="TV">Tuvalu (+688)</option>
                                                    <option data-countryCode="UG" value="UG">Uganda (+256)</option>
                                                    <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
                                                    <option data-countryCode="UA" value="UA">Ukraine (+380)</option>
                                                    <option data-countryCode="AE" value="AE">United Arab Emirates (+971)</option>
                                                    <option data-countryCode="UY" value="UY">Uruguay (+598)</option>
                                                    <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
                                                    <option data-countryCode="UZ" value="UZ">Uzbekistan (+7)</option>
                                                    <option data-countryCode="VU" value="VU">Vanuatu (+678)</option>
                                                    <option data-countryCode="VA" value="VA">Vatican City (+379)</option>
                                                    <option data-countryCode="VE" value="VE">Venezuela (+58)</option>
                                                    <option data-countryCode="VN" value="VN">Vietnam (+84)</option>
                                                    <option data-countryCode="VG" value="VG">Virgin Islands - British (+1284)</option>
                                                    <option data-countryCode="VI" value="VI">Virgin Islands - US (+1340)</option>
                                                    <option data-countryCode="WF" value="WF">Wallis &amp; Futuna (+681)</option>
                                                    <option data-countryCode="YE" value="YE">Yemen (North)(+969)(+967)</option>
                                                    <!-- <option data-countryCode="YE" value="YE">Yemen (South)(+967)</option> -->
                                                    <option data-countryCode="ZM" value="ZM">Zambia (+260)</option>
                                                    <option data-countryCode="ZW" value="ZW">Zimbabwe (+263)</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="label" for="govt_id">Phone Number(digits only):</label>
                                                <input type="number" name="phoneNumber" id="phoneNumber" value="<%- user.phoneNumber %>" class="form-control" readonly />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="label" for="govt_id">Whatsapp Number (Digits only)</label>
                                                <input type="number" name="WhatsappNum" id="WhatsappNum" class="form-control"  placeholder="" readonly />
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label class="label" for="">Email Address</label>
                                                <input type="text" name="email" id="email" class="form-control" value="<%- user.email %>"  placeholder=""  readonly/>
                                            </div>
                                      </div>
                                  </div>
                                  <!--contact section  ends here --> 
                                  <!--address section  starts here -->
                                   <div class="profile-div mt-4"> 
                                    <span>Adress</span>
                                    <div class="row mt-4">
                                        <div class="form-group col-md-6">
                                                <label class="label" for="countryCode" Selected>Office Address State</label>
                                                <select name="officeStateName" id="officeAddState">
                                                  <option value="" selected="selected">Select Office State</option>
                                                  <option value="Abuja FCT">Abuja FCT</option>
                                                  <option value="Abia">Abia</option>
                                                  <option value="Adamawa">Adamawa</option>
                                                  <option value="Akwa Ibom">Akwa Ibom</option>
                                                  <option value="Anambra">Anambra</option>
                                                  <option value="Bauchi">Bauchi</option>
                                                  <option value="Bayelsa">Bayelsa</option>
                                                  <option value="Benue">Benue</option>
                                                  <option value="Borno">Borno</option>
                                                  <option value="Cross River">Cross River</option>
                                                  <option value="Delta">Delta</option>
                                                  <option value="Ebonyi">Ebonyi</option>
                                                  <option value="Edo">Edo</option>
                                                  <option value="Ekiti">Ekiti</option>
                                                  <option value="Enugu">Enugu</option>
                                                  <option value="Gombe">Gombe</option>
                                                  <option value="Imo">Imo</option>
                                                  <option value="Jigawa">Jigawa</option>
                                                  <option value="Kaduna">Kaduna</option>
                                                  <option value="Kano">Kano</option>
                                                  <option value="Katsina">Katsina</option>
                                                  <option value="Kebbi">Kebbi</option>
                                                  <option value="Kogi">Kogi</option>
                                                  <option value="Kwara">Kwara</option>
                                                  <option value="Lagos">Lagos</option>
                                                  <option value="Nassarawa">Nassarawa</option>
                                                  <option value="Niger">Niger</option>
                                                  <option value="Ogun">Ogun</option>
                                                  <option value="Ondo">Ondo</option>
                                                  <option value="Osun">Osun</option>
                                                  <option value="Oyo">Oyo</option>
                                                  <option value="Plateau">Plateau</option>
                                                  <option value="Rivers">Rivers</option>
                                                  <option value="Sokoto">Sokoto</option>
                                                  <option value="Taraba">Taraba</option>
                                                  <option value="Yobe">Yobe</option>
                                                  <option value="Zamfara">Zamfara</option>
                                                  <option value="Outside Nigeria">Outside Nigeria</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="label" for="govt_id">Office LGA</label>
                                                <select  name="officeLocalGovname" id="officeLocal">
                                                  <option value="">--Select--</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label class="label" for="">Your office address</label>
                                                <input type="text" name="text" id="officeAddress" class="form-control" placeholder="e.g No.16 Adeleke Street, Ikeja"/>
                                            </div>
                                      </div>
                                  </div>
                                  <!--address section  ends here --> 
                                   <!--about the organization section  starts here -->
                                   <div class="profile-div mt-4"> 
                                    <span>About your 0rganization</span>
                                    <div class="row mt-4">
                                            <div class="form-group col-md-12">
                                                <textarea name="aboutYourOrganization" class="form-control" id="aboutYourOrganization" cols="" rows="5">Describe your organization</textarea>
                                            </div>
                                            <span id="sericeProvided">Services your organization provides</span>
                                            <div class="form-group col-md-12">
                                              <textarea name="service" class="form-control" id="organizattionSericeProvided" cols="" rows="5">e.g facility management</textarea>
                                            </div>
                                      </div>
                                  </div>
                                  <div class="profile-div mt-4"> 
                                    <span>Adress</span>
                                    <div class="row mt-4">
                                        <div class="form-group col-md-6">
                                                <label class="label" for="countryCode" Selected>Business State</label>
                                                <select name="officeStateName" id="businessState">
                                                  <option value="" selected="selected">Select Office State</option>
                                                  <option value="Abuja FCT">Abuja FCT</option>
                                                  <option value="Abia">Abia</option>
                                                  <option value="Adamawa">Adamawa</option>
                                                  <option value="Akwa Ibom">Akwa Ibom</option>
                                                  <option value="Anambra">Anambra</option>
                                                  <option value="Bauchi">Bauchi</option>
                                                  <option value="Bayelsa">Bayelsa</option>
                                                  <option value="Benue">Benue</option>
                                                  <option value="Borno">Borno</option>
                                                  <option value="Cross River">Cross River</option>
                                                  <option value="Delta">Delta</option>
                                                  <option value="Ebonyi">Ebonyi</option>
                                                  <option value="Edo">Edo</option>
                                                  <option value="Ekiti">Ekiti</option>
                                                  <option value="Enugu">Enugu</option>
                                                  <option value="Gombe">Gombe</option>
                                                  <option value="Imo">Imo</option>
                                                  <option value="Jigawa">Jigawa</option>
                                                  <option value="Kaduna">Kaduna</option>
                                                  <option value="Kano">Kano</option>
                                                  <option value="Katsina">Katsina</option>
                                                  <option value="Kebbi">Kebbi</option>
                                                  <option value="Kogi">Kogi</option>
                                                  <option value="Kwara">Kwara</option>
                                                  <option value="Lagos">Lagos</option>
                                                  <option value="Nassarawa">Nassarawa</option>
                                                  <option value="Niger">Niger</option>
                                                  <option value="Ogun">Ogun</option>
                                                  <option value="Ondo">Ondo</option>
                                                  <option value="Osun">Osun</option>
                                                  <option value="Oyo">Oyo</option>
                                                  <option value="Plateau">Plateau</option>
                                                  <option value="Rivers">Rivers</option>
                                                  <option value="Sokoto">Sokoto</option>
                                                  <option value="Taraba">Taraba</option>
                                                  <option value="Yobe">Yobe</option>
                                                  <option value="Zamfara">Zamfara</option>
                                                  <option value="Outside Nigeria">Outside Nigeria</option>
                                                </select>
                                            </div>
                                            
                                            <div class="form-group col-md-6">
                                                <label class="label" for="govt_id">Business Axis</label>
                                                <select  name="officeLocalGovname" id="businessAxis">
                                                  <option value="">--Select--</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-12 mt-3">
                                                <label class="label" for="">Business Category</label>
                                                <select name="busiinessCategory" id="businessCat">
                                                  <option value="" selected="selected">Select Office State</option>
                                                  <option value="Abia">Estate Surveying Fiirm</option>
                                                  <option value="Adamawa">Individual Agent</option>
                                                  <option value="Akwa Ibom">Law Firm</option>
                                                  <option value="Anambra">Developer</option>
                                                  <option value="Bauchi">Real Estate Organization</option>
                                                </select>
                                            </div>
                                            <span id="socialMedia">Social Media</span>
                                            <div class="form-group col-md-3">
                                              <label class="label" for="govt_id">Facebook</label>
                                              <input type="text" name="faceBook" id="Facebook" class="form-control" placeholder="facebook.com/johndoe"/>
                                          </div>
                                          <div class="form-group col-md-3">
                                            <label class="label" for="govt_id">Twitter</label>
                                            <input type="text" name="twitter" id="Twitter" class="form-control" placeholder="twitter.com/johndoe"/>
                                        </div>
                                          <div class="form-group col-md-3">
                                              <label class="label" for="govt_id">LinkedIn</label>
                                              <input type="text" name="linkedln" id="LinkedIn" class="form-control"  placeholder="linkedln.com/johndoe" />
                                          </div>
                                          <div class="form-group col-md-3">
                                              <label class="label" for="">Instagram</label>
                                              <input type="text" name="instagram" id="Instagram" class="form-control" placeholder="instagram.com/johndoe"/>
                                          </div>
                                      </div>
                                  </div>
                                  <!--about the organizatio section  ends here --> 

                          </form>    
                        
                  </div>
                </div>    
           </div>
          </div>
        </div>
    </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }

$("#uploadtriggered").click(function (e) {
    $("#fileupload").trigger('click');

    $('#fileupload').change(getuploadImageName);

async function getuploadImageName() {
    let logoURL = document.querySelector('#logourl')
    if(logoURL.getAttribute('src')){
        
     let uploadedLogo = document.querySelector('#fileupload').files[0];
     logoURL.setAttribute('src','')
     document.getElementById('logoLabel').textContent=uploadedLogo.name
    //  console.log(uploadedLogo)
    }else {
        let uploadedLogo = document.querySelector('#fileupload').files[0];
        document.getElementById('logoLabel').textContent=uploadedLogo.name
    }
    
















    // $('#logoform').submit();
 
    // try {
    //     const file = document.getElementById('userlogo').files[0];
    //     const formData = new formData()
    //     formData.append('userLogo', file)
    //     const sendFile = await fetch('/update/profilePicture', {
    //         method : "POST",
    //         body : formData
    //     })
    //     const response = await sendFile.json()
    //     if(response ==="success"){
    //         location.reload()
    //     }
        
    // } catch (error) {
    //     console.log(error)
        
    // }
  }
});


// document.getElementById('getUrl').addEventListener('click', function(){
//   const websiteValue =  document.querySelector('#personalUrl').innerText
//   document.querySelector('#websiteurl').value = websiteValue

// })






  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.6"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js1/setting.js"></script>

</body>
</html>


