<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_admin_css') %>

  <!-- <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script> -->
  <!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">




<body class="g-sidenav-show bg-gray-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
        <div class="sidenav-header">
          <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
          <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/soft-ui-dashboard/pages/dashboard.html " target="_blank">
            <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold displayLogo">Website Logo stay here</span>
          </a>
        </div>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el => { %>
              <div style="color: green;" class=""><%= el.msg %></div>
          <% })%>    
      <% } %>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link  " href="/userDashboard/<%-userProfile._id%>">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
                  </svg>
                </div>
                <span class="nav-link-text ms-1"> Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
  <div class="main-content">
     <div class="container mt-4">
      <div class="chat-container">
        <div id="post-container">
          <img src="<%=userPost.image_url[0]%>" alt="">
          <span><%=userPost.subType%></span>
        </div>
        <div id="messages-container">
          <% for(let i = 0; i< dataResponse.length; i++){%>
            <div class="clearfix message-div <%-dataResponse[i].sender == userProfile._id ? 'own' : 'message'%>">
              <p id="messages"><%=dataResponse[i].text %></p>
              <span id="dateCreated"><%=format(dataResponse[i].createdAt)%></span>
            </div>
            <% } %>
            <div id="conversationId" data-id="<%=conversationId%>"></div>
            <div id="senderId" data-id="<%=userProfile._id%>"></div>
            <div id="currentUser" data-id="<%=userProfile._id%>"></div>       
            <div id="postId" data-id="<%=userPost._id%>"></div>     
        </div>

        <div id="input-container" class="pt-20">
          <textarea name="" id="text" rows="2" cols="" placeholder="Enter your message..." rows=""></textarea>
          <button type="submit" id="sendId" placeholder="enter  your message">SEND</button>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  
    
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.6"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/js1/message.js"></script>
</body>
</html>


