<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Soft UI Dashboard by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/soft-ui-dashboard/pages/dashboard.html " target="_blank">
        <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Welcome : <%-user.displayName%> </span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  " href="/userDashboard/<%- user._id %>">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(0.000000, 148.000000)">
                        <path class="color-background opacity-6" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                        <path class="color-background" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                      </g>
                    </g>    
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Go back home</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-color:grey  ; background-position-y: 50%;">
      <div class="container-fluid py-4">
      <div class="row">
          <div class="col-12 mt-4">
            <div class="group-container">
                <div class="single-container">
                    <a href="/currentProfile/<%-user._id%>" >My Profile</a>
                </div>
                <div class="single-container">
                    <a href="#">My Team</a>
                </div>
                <div class="single-container">
                    <a href="/editParofile/<%-user._id%>">Edit Profile</a>
                </div>
           </div>
          <div class="card mb-4 mt-5">
            <div class="card-body p-3">
                <div class="row">
                   <div class="col-md-12 website">
                        <h3 class="title">My Website</h3>
                        <p id="note-paragraph">Click the link below to check yout free personal website</p>
                        <a id="personalUrl" href="<%-user.userWebsiteUrl%>"><%-user.domainName%> </a>
                        <button id="getUrl" type="button" class="btn btn-secondary btn-sm" style="font-size: x-small;" data-toggle="modal" data-target="#exampleModal">
                          Change subdomain name
                        </button>
                        <p>For more Information</p>
                    </div>
                  </div>
                </div>
           </div>
           <div class="card mb-4 mt-5">
            <div class="card-body p-3">
                <div class="row">
                   <div class="col-md-12 website clearfix">
                        <h3 id="info" class="title" >Personal Information
                          <a class="icon-payrent" href="/editParofile/<%- user._id%>">
                            <img id="icon-img" src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="edit-icon">
                          </a>
                        </h3>
                           <div class="clearfix">
                              <div id="detailsInfo" class="personalInfo">
                                <p id="account-name" class="paragraph">
                                  <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-WSAvETlELIH6PQRyrRwOClqe7jA_rzWBsg&usqp=CAU" alt="User-Icon"> <%- user.displayName %> 
                                </p>
                                <p>
                                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtqgoXMP1a42Ggf6YyIbuxKwwnjF1X_8ggk8cOlj-SKQ&s" alt="location-icon">
                                </p>
                                <p>
                                  <img src="https://toppng.com/uploads/preview/clip-freeuse-library-cell-phone-number-svg-png-icon-cell-phone-number-ico-11563012493ppmwhf48iv.png" alt="phone-icon">
                                  <%- user.phoneNumber %> 
                                </p>
                                <p>
                                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png" alt="whatsapp-icon">
                                </p>
                                <p>Dial Code : <%-user.callingCode%> </p>
                                <p>
                                  <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-email-512.png" alt="email-icon">
                                  <%- user.email %> 
                                </p>
                              </div>
                             <div id="userFormLogo">
                              <div class="user-image">
                                <%  if(user.profilePic){%>
                                  <span>
                                    <img class="img-fluid img-thumbnail" src="<%- user.profilePic %>" alt="user-image">
                                  </span>
                                  <% }else{%>
                                <span>
                                  <img class="rounded-circle" src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" alt="user-image">
                                </span>
                                <% } %> 
                              </div>
                              <form method="post" action="/update/profilePicture/<%-user._id%>?_method=PUT"  id="logoform" enctype="multipart/form-data">
                                <label for="">
                                  <input type="file" name="userLogo" id="userlogo" class="logo" style="display: none;" accept="image/*" capture>
                                  <img  src="https://cdn.iconscout.com/icon/free/png-256/add-circle-1780605-1513760.png" id="triggerLogo" alt="add-icon" class="profile-add-icon">
                                  <span>Change Logo</span>
                                </label>
                              </form>
                            </div>
                            
                          </div>
                        <div class="document-div"> 
                          <span>Upload Files</span>
                          <form action="" id="docForm">
                            <div class="form-group col-md-6">
                              <label for="govt_id">Govt Issue ID:</label>
                              <input type="text" id="clicktoTriger1" class="form-control"  placeholder="click to upload" style="cursor:pointer" readonly/>
                              <input type="file" class="form-control" id="govtIssueId" name="govtId" accept="image/*" style="display:none"/>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="govt_id">Selfie Picture:</label>
                              <input type="text" id="selfiePictureTrigger" class="form-control"  placeholder="click to upload" style="cursor:pointer" readonly/>
                              <input type="file" class="form-control" id="selfiePicture" name="selfiePicture" accept="image/*" style="display:none"/>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="govt_id">Business CAC Document:</label>
                              <input type="" id="cacDocumentTrigger" class="form-control"  placeholder="click to upload" style="cursor:pointer" readonly/>
                              <input type="file" class="form-control" id="cacDocument" name="selfiePicture" accept="image/*" style="display:none"/>
                            </div>
                          </form>
                        
                        </div>
                       
                    </div>
                  </div>
                </div>    
           </div>
            <div class="card mb-4 mt-5">
               <div class="card-body p-3">
                 <div class="row">
                    <div class="col-md-12 website">
                       <h3>Business Information</h3>
                        <div class="business-info">
                          <p>Business Name</p>
                          <p>Business Address</p>
                       </div>
                       <h1>
                         <a id="specialization" href="#">Area Specialist</a>
                         <a  id="edit-icon" href="#">
                           <img src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png" alt="edit-icon">
                         </a>
                       </h1>
            
                    </div>
                 </div>
                </div>    
            </div>
            <div class="card mb-4 mt-5">
              <div class="card-body p-3">
                <div class="row">
                   <div class="col-md-12 website">
                      <h3>Specialization</h3>
                      <div class="stateInfo">
                        <p>Main state: <%-post.stateName%> </p>
                        <p>Area : [ <%- post.LocalityName %>  ]</p>
                        <p>Speciality : <span><%- post.purpose %> </span></p>
                      </div>
                    </div>
                </div>
               </div>    
           </div>
          </div>
        </div>
    </div>
    <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div  class="modal-body">
        <form id="formId" method="post"  action="/update/domainName">
            <div class="form-group col-md-12">
              <label for="">Edit your domain name</label>
              <input  type="text" id="websiteurl" class="form-control"/>
            </div>
          <div id="successHolder"></div>
          <div id="modald" class="modal-footer">
            <input type="submit" id="updateDomain" value="Submit"  class="btn btn-secondary btn-sm">
          </div>
        </form>
    </div>
  </div>
</div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    $("#clicktoTriger1").click(function () {
      $("#govtIssueId").trigger('click');
});
   $("#selfiePictureTrigger").click(function () {
      $("#selfiePicture").trigger('click');
}); 
   $("#cacDocumentTrigger").click(function () {
      $("#cacDocument").trigger('click');
});

$("#triggerLogo").click(function (e) {
    $("#userlogo").trigger('click');

    $('#userlogo').change(sendProfilePicture);

async function sendProfilePicture() {
    $('#logoform').submit();
 
    try {
        const file = document.getElementById('userlogo').files[0];
        const formData = new formData()
        formData.append('userLogo', file)
        const sendFile = await fetch('/update/profilePicture', {
            method : "POST",
            body : formData
        })
        const response = await sendFile.json()
        if(response ==="success"){
            location.reload()
        }
        
    } catch (error) {
        console.log(error)
        
    }
  }
});


document.getElementById('getUrl').addEventListener('click', function(){
  const websiteValue =  document.querySelector('#personalUrl').innerText
 let beforePeriodString = websiteValue.substring(0, websiteValue.indexOf('.'))
  document.querySelector('#websiteurl').value = beforePeriodString
})



//send a request to server to update personal url
let button = document.querySelector('#updateDomain')
button.addEventListener('click',sendUpdateRequest)
 async function sendUpdateRequest(event){
  const domain = document.querySelector('#websiteurl')
   event.preventDefault()
   
   //remove space and period character
 let checkUrlDotandSpace =domain.value.replace(/\s+/g, '').split('.').join('').toLowerCase()
  const update =await fetch('/update/domainName?_method=PUT',{
      method: 'POST',
      headers : {'Content-Type': 'Application/json'},
      body : JSON.stringify({'domainName': checkUrlDotandSpace})
    })
    button.value = '..submiting'
    const res = await update.json()
    if(res){
      //create a paragraph
      let Paragraph = document.createElement('p')
      Paragraph.style.color= 'green'
      Paragraph.innerText= 'updated successfully'
      const successHolder = document.getElementById('successHolder')
      successHolder.appendChild(Paragraph)
      const formId = document.querySelector('#formId')
      const modalId = document.getElementById('modald')
      formId.insertBefore(modalId,successHolder)
      button.value = 'submit'
      location.reload()

    }
}
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.6"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="/js1/profile.js"></script> -->
</body>
</html>


